@(title: String)(content: Html)(implicit webJarsUtil: org.webjars.play.WebJarsUtil)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel='shortcut icon' type='image/png' href='@routes.Assets.versioned("images/favicon.png")'>

        @Html(webJarsUtil.css("bootstrap.min.css"))

        @Html(webJarsUtil.script("jquery.min.js"))
        <style>
        body {
        margin-top: 50px;
        }
        </style>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a id="titleLink" class="brand" href="/">@title</a>
                </div>
            </div>
        </div>
        <div class="container">
        @content
        </div>
    </body>
</html>
